.main3 {
    width: 100%;
    height: auto;
    padding: 0% 5.4rem; 
    margin: 9.375rem 0%;
    box-sizing: border-box;
}

.contentM3{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main3 .contentM3 h1 {
    margin: 0%;
    font-size: 3.125rem;
}

.main3 .contentM3 span {
    color: #FF5B50;
}

.astronauts {
    margin-top: 9.875rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.astronauts h2 {
    margin: 0%;

    font-weight: 500;
    font-size: 1.875rem;
}

.card {
    width: 21.75rem;
    height: auto;
    box-sizing: border-box;

    /*margin-bottom: 3.94rem;*/
}

.card:nth-child(1) {
    margin-bottom: 3.94rem;
}

#title-card {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}

#label-card {
    display: flex;
    flex-direction: column;
    
}

#label-card label {
    margin: 2.75rem 0 1.625rem 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: #5A5757;

    display: flex;
    justify-content: space-between;
}

#label-card span {
    font-weight: 400;
}

#linha-vertical2{
    height: 45rem;
    border-right: 1px solid #5A5757;
}
