html{
    width: 100%;
    height: auto;
    margin: 0%;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.01rem;
    color: #fff;

    overflow-x: hidden;
    background-color: #0e0e0e;;
}

body {
    margin: 0%;
    padding: 0%;
}

