.Home{
    width: 100;
    height: auto;
    background-color: #0e0e0e;
}

.background-image{
    width: 100%  ;
    height: 1000px;
    background-image: url("../../assets/body/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

    padding: 0% 5.4rem;
    box-sizing: border-box;
}

p {
    margin: 0%;
}